
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.my-card{
    width:25%;
}
.my-text{
    text-align: left;
}
.widthMax{
    width:90%;
}
.nomargin{
    margin-right: 63%;
}
.scrollbar{
    height: 145px;
    
}

p::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
